.active {
	visibility: visible;
}
.d-block{
	width:500px;
	height:500px;
	margin:auto;
}
.d-blocks{
	width:500px;
	height:500px;
	margin:auto;
}
.carousel{
	background: blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity:0.6;
}
body{
	background-color:GREY;
}

.photo_user{
  width:100%;
  height: 100%;
  margin-top: 2%;
  margin-left: 10%;
  float: left;
}

.information{
  float: right;
  width: 10%;
  margin-top: 2%;
  margin-right: 20%;
}
