.vertAnysolTextBorder{
    color: #01C69D;
    border-color: #01C69D;
}
.vertAnysolTextBorder:HOVER{
    color: white;
    background-color: #01C69D;
}
.vertAnysolMenu{
  color: black;
  background-color: #01C69D;
  border : 0px;
}
.vertAnysolMenu:HOVER{
    background-color: #f8f9fa;
      color: black;
}
.PetitEcartement{
  margin-left: 2em;
}
