/* latin */
@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
body{
font-family:"ABeeZee";
background: white no-repeat;
background-size: cover;
}

a{
color: #000000; text-decoration: none;
}

header{
background-color: #01C69D; width: 100%; height: 48px;
position: relative;
text-align: right;
border-radius: 5px;
}

.headeGauche{
width:5%;
height: 40px; float: left;
margin: 0 0 0 5px;
}

.logo{
width: 70px; height: 50px;float: left;
}

.headerDroite{
width:34%;float: left;
}

.parametres, .abonnement{
background:white no-repeat;
background-size: cover;
width:100px;
height: 30px; float: right;
margin: 10px 5px;
position: relative;
text-align: center;
line-height: 30px;
border-radius: 5px;
color: #01C69D;
}
.recherche{
margin: 15px 5px;
 float: left;
}
.boutonRecherche{
  background:#01C69D no-repeat;
  background-size: cover;
  width:30px;
  height: 30px; float: left;
  margin: 10px 5px;
  position: relative;
  text-align: center;
  border-radius: 5px;
}

.onglets{
width: 60%; height: 50px;
text-align: left;
float :left;
}

.accueil, .nouveautes, .categories, .albums, .auteurs{
background:#01C69D no-repeat;
background-size: cover;
width:19.72%;
height: 48px; float: left;
margin: 0 auto auto 0;
position: relative;
text-align: center;
line-height: 45px;
}

.accueil:HOVER,.nouveautes:HOVER,.categories:HOVER,.albums:HOVER,.auteurs:HOVER{
background:#FFFFFF no-repeat;
background-size: cover;
}

#conteneur{
margin: 0 auto; width: 100%; height:760px;
}

.profil{
background-color:white;
width: 100%; height: 200px;
border: 1px solid;
/*position: relative;
background:#b5272e no-repeat;
background-size: cover;
opacity: 0.95;
width:40%;
height: 72px; float: right;
margin: 10px 450px auto auto;
border-radius: 10px;
text-align: center;*/
}

.photoUser{
  width: 150px; float: left;
  border-radius: 50%;
}

.suggestions{
background-color:white;
width: 100%; height: 200px;
position: relative;
border: 1px solid;
text-align: center;
}

.menuBas{
background-color: white;
width: 100%; height: 300px;
position: relative;
border: 1px solid;
}

.barreTaches{
background-color: white;
width: 100%; height: 50px;
position: relative;
border: 1px solid;
}

footer{
background-color: #EEEEEE; width: 100%; height: 100px; float: right;
position: relative;border-radius: 10px;
}

.footerGauche{
background:no-repeat;
background-size: cover;
width:30%;
height: 30px; float: left;
margin: 5px auto auto 0;
position: relative;
text-align: center;
}

.footerDroite{
background:no-repeat;
background-size: cover;
width:20%;
height: 30px; float: right;
margin: 20px 0 auto auto;
position: relative;
text-align: center;
}

.clear{
clear: both;
}
