@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


.active {
	visibility: visible;
}
.d-block{
	width:350px;
	height:350px;
	margin:auto;
}
.d-blocks{
	width:350px;
	height:350px;
	margin:auto;
}
.carousel{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity:0.6;
}
body{
	background-color:#e6e6e6;
	font-family: 'ABeeZee', sans-serif;
}

.photo_user{
  width:80%;
  height: 80%;
  margin-top: 20%;
  margin-left: 20%;
  float: left;
}

.information{
  width: 40%;
	margin-top: 3%;
	margin-left: 15%;
	background-color: rgba(254,254,254, 0.8);
}

.profil{
	width: 15%;
	margin-left: 13%;
}

.abc{
	margin-left: 40%;
}


.container{
	margin-top: 2%;
}

a{
color: black;
text-decoration: none;
}

a:hover{
	color: #01b39d;
	font-style: oblique;
	font-weight: bold;
}

h2,.p{
	color: #01b39d;
	text-decoration: underline;
}
