@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body{
  font-family: 'ABeeZee', sans-serif;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebebeb;
  font-weight: bold;
  color: #01b39d

}

.droite{
  margin-left: 80%;
 margin-top: 1%;

}

.gauche{
  float: left;
margin-left: 5%;
}

a{
  color: #01b39d;
  text-decoration: none;

}

a:hover{
  color: black;
  font-size: large;
}
