@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/*/////////////////////////////////////////// BODY //////////////////////////////////////////////////*/

body{
font-family: 'ABeeZee', sans-serif;
position: relative;
background-size: 100%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Logo//////////////////////////////////////////////////*/

.logo{
  width: 30%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////// Page Abeezee /////////////////////////////////////////////////////*/


.boutons{
  float: left;
}
.placeholdere{
  text-align: center;
  width: 100%;
  height: 12em;
}
.imggauche{
  margin-left: 5%;
}
.logomil{
  width: 100%;
  height: 12em;
}
.cor{
  text-align: center;
}

.inscription{
  text-align: center;
  margin: 0 auto;
}
.checked {
    color: orange;
}

/*////////////////////////////////////////////////////////////// Page carousel //////////////////////////////////////////////*/

.active {
	visibility: visible;
}
.d-block{
	width:350px;
	height:350px;
	margin:auto;
}
.d-blocks{
	width:350px;
	height:350px;
	margin:auto;
}
.carousel{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity:0.6;
}

.photo_user{
  width:80%;
  height: 80%;
  margin-top: 20%;
  margin-left: 20%;
  float: left;
}

.information{
  width: 40%;
	margin-top: 3%;
	margin-left: 15%;
	background-color: rgba(254,254,254, 0.8);
}

.profil{
	width: 15%;
	margin-left: 13%;
}

.abc{
	margin-left: 40%;
}


.container{
	margin-top: 2%;
}

a{
color: black;
text-decoration: none;
}

a:hover{
	color: #01b39d;
	font-style: oblique;
	font-weight: bold;
}

h2,.p{
	color: #01b39d;
	text-decoration: underline;
}

/*/////////////////////////////////////////////////////// Page ecoute ///////////////////////////////////////////////////*/

.navbar_navbar-default_navbar-fixed-top, .container-fluid, .navbar-header{
	background-color:#01C69D;
	width:100%;
	height:5%;
}

.gauche{
  float: left;
  margin-left: 5%;
}
.droite{
float: right;
margin-right: 5%;
}

.barre{
margin-left: 15%;
}

#coeurr{
  margin-left:68%;
  margin-top: 1%;
}


#fleche{
  width: 2%;
  height:2%;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  font-size:250%;
  color:#01C69D;
}

.musique{
  margin-top: 5%;
}
#retweet{
  font-size:200%;
  color:black;
  float: left;
  margin-left: 20%;
}

#recule{
  font-size:200%;
  color:black;
  margin-left: 25%;
}

#avance{
  font-size:200%;
  color:black;}

#stop{
  font-size:200%;
  color:black;
}
#random{
  font-size: 200%;
  color: black;
  float: right;
  margin-right: 20%;
}

.reso{
  width: 3%;
  height:3%;
  float: right;
  margin-right: 3%;
  margin-top: 1%;
}

.img{
  width: 50%;
  height: 40%;
  margin-left: 25%;
}

.pochette{
  margin-top: 5%;
}

.button{
  width:60px;
	height:60px;
  border-radius: 50%;
  background-color: #e6e6e6;
  opacity: 0.5;
  border:  2px solid #ffffff;

}

.music{
  width: 50%;
  height: 50%;
}

.coeur{
  width: 75%;
  height: 50%;
}

.return{
  width: 70%;
  height:50%;
}

.boutons{
  margin-left: 42%;
}
.buttons{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: #e6e6e6;
  opacity: 0.5;
  border:  2px solid #ffffff;
  margin-left: 2%;
}

.buttones{
  width:60px;
	height:60px;
  border-radius: 50%;
  background-color: #e6e6e6;
  opacity: 0.5;
  border:  2px solid #ffffff;
  margin-left: 2%;
}

h1{
  font-style: italic;
  text-align: center;
  font-size: 300%;
}

/*///////////////////////////////////////////////////////////////// Header ////////////////////////////////////////////////////////*/

.boutons{
  float: left;
}

/*///////////////////////////////////////////////////////////// Footer //////////////////////////////////////////////////*/


footer{
background-color: #ebebeb;
font-weight: bold;
color: #01b39d;
margin-top: 5%;
}

.droite{
float: right;
width: 20%;
margin-right: 10%;
margin-top: 1%;
}

.gauche{
  float: left;
margin-left: 5%;
}

a{
  color: #01b39d;
  text-decoration: none;

}

a:hover{
  color: black;
  font-size: large;
}

/*////////////////////////////////////////////////////////////////////////// Page Inscri ///////////////////////////////////////*/


.champ1{
/*border-radius: 10% 10% 0 0;*/
}
.champ2{

}
.inputDate{
  width:43%;
}

.container{
  float: left;
  margin-left: 25%;
  margin-top: 5%;
  width: 30%;
}

.connexion{
  float: right;
  margin-right: 30%;
  margin-top: 5%;

}

.anysol{
  margin-left: 37%;
  width: 20%;
  margin-top: 2%;
}

span,h3{
  color: lightblue;
  text-decoration: underline;
}
p,span{
  font-size: xx-small;
  margin-top: 0.5%;
}

.inputButton{
  border-radius: 10px;
  background-color: #dddddd;
}

/*/////////////////////////////////////////////////////////////////////////// Page Nouveautés //////////////////////////////////*/

.image{
  width: 100%;
}
.titreCentre{
  text-align: center;
}
.description{
  margin-top: 5%;
}
