@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/*/////////////////////////////////////////// BODY //////////////////////////////////////////////////*/

body{
font-family: 'ABeeZee', sans-serif;
position: relative;
background: url(../img/fond.jpg) repeat;
background-size: 200%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Logo//////////////////////////////////////////////////*/

.logo{
  width: 60%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////// Page Abeezee /////////////////////////////////////////////////////*/


.boutons{
  float: left;
}
.musiquesindex{
  border-radius: 2em;
  border-style: inset;
}
.placeholdere{
  text-align: center;
  width: 70%;
  height: 70%;
}
.imggauche{
  margin-left: 5%;
}
.logomil{
  width: 70%;
  height: 12em;
}
.cor{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.inscription{
  text-align: center;
  width: 100%;
}
.checked {
    color: orange;
}

/*////////////////////////////////////////////////////////////// Page compte //////////////////////////////////////////////*/

.compteinfo{
  width: 60%;
  margin-left: 20%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15%;
  border-style: inset;
  border-radius: 1em;
}
.moncomptetitre{
  text-align: center;
}
.tdinfo{
  padding-left: 2em;
  padding-top: 1em;
}
.photo_user{
  width:80%;
  height: 80%;
  margin-top: 20%;
  margin-left: 20%;
  float: left;
}

.information{
  width: 40%;
	margin-top: 3%;
	margin-left: 15%;
	background-color: rgba(254,254,254, 0.8);
}

.profil{
	width: 15%;
	margin-left: 13%;
}

.abc{
	margin-left: 40%;
}


.container{
	margin-top: 2%;
}

a{
color: black;
text-decoration: none;
}

/* a:hover{
	color: #01b39d;
	font-style: oblique;
	font-weight: bold;
} */

.containerliste{
  text-align: center;
}
.liste{
  margin-left: 12%;
  padding-left: 0;
  margin-bottom: 20px;
  width: 76%;
}

/*/////////////////////////////////////////////////////// Page ecoute ///////////////////////////////////////////////////*/

.navbar_navbar-default_navbar-fixed-top, .container-fluid, .navbar-header{
	background-color:#01C69D;
	width:100%;
	height:5%;
}

.gauche{
  float: left;
  margin-left: 5%;
}
.droite{
float: right;
margin-right: 5%;
}

.buttones{
  width:60px;
	height:60px;
  border-radius: 50%;
  background-color: #e6e6e6;
  opacity: 0.5;
  border:  2px solid #ffffff;
  margin-left: 2%;
}

h1{
  font-style: italic;
  text-align: center;
  font-size: 300%;
}

.ecoute{
    margin: 0 auto;
    text-align: center;
    color: #17a4b8;
    font-size: 200%;

}

.conteneurEcoute{
    background-color: #17a4b8;
    max-width: 90%;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1%;
}

.conteneurEcoute h2{
    color: #17a4b8;
    text-decoration: none;
    font-size: 100%;
}

.divEcoute{
    margin: 4% 4% 4% 5%;
    padding: 2%;
    color: #17a4b8;
    width: 15em;
    height: 20em;
    text-align: center;
    background-color: white;
    float: left;
    border-radius: 1%;
    opacity: 0.95;
}

.divEcoute img{
    width: 100%;
    height: auto;
}


.audio {
    position: relative;
    margin: 0 auto;
    width: 380px;
    height: 40px;
    border: 2px solid #17a4b8;
    background-color: #FAFAFA;
    border-radius: 1%;
}

/*///////////////////////////////////////////////////////////////// Header ////////////////////////////////////////////////////////*/

.boutons{
  float: left;
}
.insc{
  text-decoration: none;
}
.cherche{
  margin-left: 10%;
  float: left;
  width: 70%;
  margin-right: 1%;
}
.boutoncherche{
  float: left;
  display: block;
  margin-right: 10%;
}

.green{
    color: #17a4b8;
}

.green:HOVER{
    color: white;
    background-color: #17a4b8;
    border: white;
}

/*///////////////////////////////////////////////////////////// Footer //////////////////////////////////////////////////*/


footer{
background-color: #cdc9ca;
font-weight: bold;
color: #01b39d;
height: auto;
padding: 5% 5% 5% 5%;
margin: 5% auto 0 auto;
bottom: 0;
position: relative;
}

.droite{
float: right;
width: 20%;
height: auto;
margin-right: 10%;
margin-top: 1%;
}

.gauche{
  float: left;
margin-left: 5%;
height: auto;
}


/*////////////////////////////////////////////////////////////////////////// Page Inscri ///////////////////////////////////////*/
.info1{
  width: 40%;
  float: left;
  margin-left: 20%;
  text-align: justify;
  height: auto;
}
.inscription{
  height: 25em;
}
.info2{
  width: 35%;
  float: right;
  margin-right: 5%;
  text-align: justify;
  height: auto;
}

.sub{
float: left;
}

.butInscri{
  background-color: #01b39d;
  border-color: #01b39d;
  border-radius: 10%;
  color: white;
  height: 6%;
}





/*/////////////////////////////////////////////////////////////////////////// Page Nouveautés //////////////////////////////////*/

.image{
  width: 100%;
}
.liennouv{
  border-style: solid;
  border-color: #17a2b8;
  margin-left: 50%;
}
.titreCentre{
  text-align: center;
}
.description{
  margin-top: 5%;
}

/*/////////////////////////////////////////////////////////////////////////// Page Compte //////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////// Condition général d'utilisation////////////////////////////////////*/

.condition{
  color: #17a2b8;
  text-align: center;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////// A propos //////////////////////////////////////////*/
.propos{
  text-align: justify;
  margin-left: 10%;
  width: 80%;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
