body{
  width: auto;
 padding-bottom: 70px;
}

.navbar-nav{
height: 5em;
margin-left: 10%;

}

.navbar-dark{
  background: #01b39d;
  height: 5em;
}

.navbar-brand{
  width: 10%;
  float: left;
}

.nav-item{
  width: 10%;
}

ul{
  width: 10%;
}
